.product {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  min-width: 100px;
  max-height: 400px;
  width: 100% ;
  background-color: white;
  z-index: -1;
}

.product_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product >img{
    object-fit: contain;
    margin: 20px 0 0 15px;
}

.product_price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.product_rating {
  font-size: 16px;
  margin-top: 10px;
}
.home_img{
    width: 100%;
    height: 800px;
    z-index: -1;
    margin-bottom: -50px;
}

img {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}
